body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Ubuntu Sans", sans-serif;
  font-optical-sizing: auto;
}

/* Main container  */
.mainContainer {
  display: grid;
  grid-template-columns: 1fr 4fr;
  grid-template-rows: 1fr 4fr;
  height: 100vh;
  overflow: auto;
  background-color: whitesmoke;
}

/* SideBar */
.sideBar {
  display: grid;
  grid-row-start: 1;
  grid-row-end: 4;
  background-color: rgb(47, 149, 197);
}

.sideFlex {
  display: flex;
  flex-direction: column;
}

.sideFlexRow {
  display: flex;
  flex-direction: row;
  margin: 0 0 20px 20px;
}

.companyLogo {
  width: 50px;
  height: 50px;
  padding: 8px 5px 0 20px;
}

.dashboard {
  color: white;
  padding: 10px 0 0 5px;
  margin: 10px 0 40px 0;
}

.linkIcons {
  width: 20px;
  height: 20px;
  padding: 0 5px 0 25px;
}

.linkHeading {
  color: white;
  margin: 0 0 0 10px;
}

.secondIconRow {
  display: grid;
  margin-top: 50px;
}

/* Headbar */

.containerHeadbar {
  display: grid;
  grid-row-start: 2;
  grid-row-end: 4;
  gap: 15px;
}

.NavBar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
}

.headbarNav,
.headbarNav2 {
  display: flex;
  align-items: center;
  gap: 10px;
}

.headbarNav img {
  width: 30px;
  height: 30px;
  padding: 0 5px 0 25px;
}

.finderBar {
  border-radius: 25px;
  background-color: #e7e5e4;
  border: none;
  padding: 0.5em 0.5em;
  margin-left: 1.5em;
  width: 600px;
  height: 25px;
}

.account {
  display: flex;
  justify-content: center;
  align-items: center;
}

.account p {
  color: #010101;
  margin: 0 0 0 10px;
  display: flex;
  justify-content: flex-start;
}

.account img {
  width: 30px;
  height: 30px;
  padding: 0 5px 0 25px;
}

#bottomContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px;
}

.bottomContainer {
  display: flex;
  align-items: center;
  gap: 15px;
}

.bottomContainer img {
  width: 70px;
  height: 70px;
  padding: 10px 5px 0 25px;
}

.textBottom {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.textBottom #greet {
  font-size: 1.1em;
  font-weight: 700;
  /* margin-bottom: 6px; */
}

.textBottom #name {
  font-size: 1.1em;
  font-weight: 700;
}

.buttonContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.buttonContainer button {
  border-radius: 25px;
  border: none;
  background-color: rgb(47, 149, 197);
  color: whitesmoke;
  font-size: 1.1em;
  cursor: pointer;
  width: 6.25em;
  height: 2.5em;
}

/* Content Layout */
main {
  background-color: #e7e5e4;
}

#ContentHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
}

.cardContainer {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 15px;
}

.nestedContainer {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 20px;
}

.card {
  background-color: whitesmoke;
  border: 1px solid #ddd;
  border-radius: 8px;
  padding: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.card h5 {
  font-size: 1.1em;
  font-weight: 700;
}

.card-content {
  margin-bottom: 20px;
}

.card-icons {
  display: flex;
  justify-content: flex-end;
  gap: 10px;
}

.card-icons img {
  width: 24px;
  height: 24px;
}

/* Announcements & Trends Section */
#Announcements {
  display: grid;
  /* grid-template-columns: 1fr auto;
  grid-template-rows: min-content 1fr; */
  /* gap: 20px; */
  width: 300px;
}

#Announcements ul {
  list-style: none;
  background-color: whitesmoke;
  padding: 2em;
  border-radius: 10px;
  box-shadow: 0 4px 6px -1px rgb(0 0 0 / 0.1), 0 2px 4px -2px rgb(0 0 0 / 0.1);
}

#Announcements ul li {
  padding: 1em 0;
  border-top: 1px solid #eee;
}

#Announcements li h5 {
  font-size: 1.1em;
  font-weight: 700;
}

#Announcements ul p {
  font-size: 0.8rem;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

